<div class="container">
    <h1 class="text-center mb-5">DASHBOARD</h1>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-4" *ngIf="studenti != null">
            <div class="card h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">STUDENTI</h5>
                  <p class="card-text">{{studenti.length}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4" *ngIf="docenti != null">
            <div class="card h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">DOCENTI</h5>
                  <p class="card-text">{{docenti.length}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4" *ngIf="anni != null">
            <div class="card h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">ANNI SCOLASTICI</h5>
                  <p class="card-text">{{anni.length}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-4" *ngIf="classi != null">
            <div class="card h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">CLASSI</h5>
                  <p class="card-text">{{classi.length}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5" *ngIf="user?.ruoloUtente=='SEGRETERIA'">
        <div class="col-12 col-md-4 my-2">
            <div class="w-100 h-100 border border-secondary border-1 rounded-3 d-flex justify-content-center align-items-center" style="height: 20vh!important;cursor: pointer;" routerLink="/dashboard/studenti">
                Gestione Studenti
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="w-100 h-100 border border-secondary border-1 rounded-3 d-flex justify-content-center align-items-center" style="height: 20vh!important;cursor: pointer;" routerLink="/dashboard/docenti">
                Gestione Docenti
            </div>
        </div>
        <div class="col-12 col-md-4 my-2">
            <div class="w-100 h-100 border border-secondary border-1 rounded-3 d-flex justify-content-center align-items-center" style="height: 20vh!important;cursor: pointer;" routerLink="/dashboard/classi">
                Gestione Classi
            </div>
        </div>
    </div>
</div>